@import "nullstyle.scss";
$fz: 80px;
%tplborder {
    border-bottom: 5px dashed red;
}

@mixin faser($f) {
    font-size: $f;
}

.block {
    width: 300px / 700px * 100%;
    background: grey;
    padding: 20px;
    font-size: $fz;
    line-height: 40px;
    .block_text {
        font-size: 50px;
        span {
            font-size: 50px;
            color: salmon;
        }
    }
}

.link {
    color: green;
    text-decoration: underline;
    &:hover {
        color: red;
    }
    .block & {
        font-size: 40px;
    }
    @extend %tplborder;
}

.link-2 {
    color: red;
    text-decoration: line-through;
    @include faser(100px);
    &:hover {
        color: green;
    }
}